* {
  box-sizing: border-box;
  color:#444444;
}

#nav {
  background-color: #336699;
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  z-index: 100;
}

#content {
}

.container {
	width: 800px;
	margin:0 auto;
}
#content{
	position:relative;
	top:78px;
	padding: 15px;
}
#content > .container > div {
  padding: 78px 0;
}
#about, #my-work, #contact-me {
}

.menu{
	 float:right;
	 color: #fff;
	 background-color:#336699;
}
.menu li{
	 width: 140px;
	 padding: 10px 5px;
	 border: 1px solid #fff;
	 border-radius: 4px;
	 text-align:center;
	 list-style-type: none; 
	 display:inline-block;
}
a {
  display: block;
  color: #fff;
  text-decoration: none;
}

li:hover  {
  border: 1px solid #3366cc;
  background-color: #fff;
}

li:hover a {
  color: #336699;
  font-weight: 800;
}
#my-avatar{
	float:left;
	margin-right: 20px;
}
#my-avatar img{
	width:200px;
}
h1 {
  text-align: center;
}
#about h1 {
  margin-bottom: 0;
  text-align: left;
}
h3{
	margin:0;
}
hr {
  border: 0.5px solid #eee;
}
table{
	text-align:left;
	font-size:14px;
}
td{
	color:#666;
	padding-left:30px;
}
th,td{
	vertical-align: top;
}
.item{
	position:relative;
	max-width: 30%;
	display: inline-block;
}
.item img{
	width: 100%;
}
.item-info{
	border:1px solid red;
	background-color: rgba(255,255,255,.7);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	text-align: center;
	padding:25px 10px;
	display: none;
}
.item:hover .item-info{
	display:block;
}
form.contact-form{
	width:50%;
	margin:0 auto;
}
.form-row{
	margin-bottom: 15px;
}
label{
	font-weight: bold;
}
.form-row input, .form-row textarea{
	border-radius:3px;
	width:100%;
	border: 1px solid #D6D9DC;
}
.form-row input{
	height:3em;
}
.form-row textarea{
	resize:none;
	height:5em;
}
.form-row button{
	border:none;
	border-radius: 3px;
	padding:10px 15px;
	cursor: pointer;
}
.form-row button[type="submit"] {
  background-color: #5995DA;
  color: #FFFFFF;
}

.form-row button[type="submit"]:hover {
  background-color: #66AADD;
}
.form-row button[type="reset"]:hover {
  background-color: #CCCCCC;
}
.form-row button:active {
  background-color: #407FC7;
}
hr.bar{
	border: 2px solid #6699BB;
	width:150px;
}
#my-work-gallery {
    text-align: center;
}

@media screen and (max-width: 1023px){/*RWD*/
	.container{
		width:auto;
	}
	.menu-button{
		background: transparent;
		border:0;
		padding: 0 15px;
		color:white;
		font-size:24px;
		line-height: 40px;
		float:right;
	}
	.menu{
		margin-top:0;
		padding-left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    width: 150px;
    height: 100%;
    background: #336699;
    display: none;
	}
	.menu li{
		border:0;
		border-radius: 0;
	}
	.menu-button-checkbox{
  	position: fixed;
  	top: 0;
  	right: 0;
  	width: 55px;
  	height: 44px;
  	opacity: 0;
  }
	.menu-button-checkbox:checked ~ .menu {
    display: block;
  }
  #my-avatar{
  	width: 100%;
  }
  #my-avatar img{
  	display: block;
  	margin:15px auto;
  }
  .item{
  	width:100%;
  }
	form.contact-form{
		width:80%;
	}

}

@media screen and (min-width: 1024px){ /*RWD*/
	.menu-button,
	.menu-button-checkbox{
		display: none;
	}
}